@import "../node_modules/typeface-roboto/index.css";

body {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	color: white;
	// height: 100vh;
	height: 100%;
	width: 100%;
	background-color: rgb(38, 50, 56);
	font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
	overflow-y: hidden;
}

#root {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
